<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SauceDemo Parallel Suite" parallel="classes" thread-count="2">
    <listeners>
        <listener class-name="testUtilities.AnnotationTransformer" />
    </listeners>

    <test name="E2E Regression Isolation Tests">
        <classes>
            <class name="tests.SauceTests" />
        </classes>
    </test>
</suite>